<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="url" value="http://gmail.com"/>
    <!--TextField-->
    <add key="Username_id" value="identifierId"/>
    <!--Button-->
    <add key="NextButton_xpath" value="//*[@id='identifierNext']"/>
    <!--Links-->
  </appSettings>
</configuration>